<?xml version="1.0"?>
<!--
  Copyright (c) 2023 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ros2_control_torso" params="name joint_1:='1' joint_2:='2'">
    <joint name="${name}_${joint_1}_joint">
      <command_interface name="position" />
      <command_interface name="velocity" />
      <command_interface name="effort" />

      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
      <state_interface name="torque" />
      <state_interface name="absolute_position" />
    </joint>

    <joint name="${name}_${joint_2}_joint">
      <command_interface name="position" />
      <command_interface name="velocity" />
      <command_interface name="effort" />

      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
      <state_interface name="torque" />
      <state_interface name="absolute_position" />
    </joint>

    <!-- transmissions -->
    <xacro:include filename="$(find talos_description)/urdf/torso/torso.transmission.xacro" />
    <xacro:talos_torso_differential_transmission name="${name}" number1="${joint_1}" number2="${joint_2}"
                                                act_reduction1="1.0" act_reduction2="1.0"
                                                jnt_reduction1="1.0" jnt_reduction2="1.0" />
  </xacro:macro>
</robot>
