<?xml version="1.0"?>
<!--

  Copyright (c) 2014, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot name="tor" xmlns:xacro="http://www.ros.org/wiki/xacro"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">


  <xacro:include filename="$(find tor_description)/urdf/leg/leg.urdf.xacro" />

    
    <link name="base_link">
      <inertial>
        <origin xyz="0.0 0.0 0.36" rpy="0 0 0"/>
        <mass value="34.0" />
         <inertia ixx="0.529688470"  ixy="0.0"  ixz="0.0" iyy="0.34860507904" iyz="0.0" izz="0.23865908621" />
      </inertial>

      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tor_description/meshes/torso_dummy.stl" scale="1 1 1"/>
        </geometry>
      </visual>
      
      <collision>
       <origin rpy="0 0 0" xyz="0 0 0.05"/>
	    <geometry>
           <box size="0.1 0.3 0.1"/>
        </geometry>
      </collision>  

     </link>
     
 
     
     <!--
     
      <link name="base_link">
      <inertial>
        <origin xyz="0.0 0.0 0.05" rpy="0 0 0"/>
        <mass value="5.0" />
         <inertia ixx="0.01"  ixy="0.0"  ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
      </inertial>
   
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tor_description/meshes/torso_dummy.stl" scale="1 1 1"/>
        </geometry>
      </visual>
      
      <collision>
       <origin rpy="0 0 0" xyz="0 0 0.05"/>
	    <geometry>
           <box size="0.1 0.3 0.1"/>
        </geometry>
      </collision>  

     </link>
   -->
   <xacro:tor_leg prefix="left"  reflect="1" />
   <xacro:tor_leg prefix="right" reflect="-1" />

  <!-- Generic simulator_gazebo plugins -->
  <xacro:include filename="$(find tor_description)/gazebo/gazebo.urdf.xacro" />
  <!-- Materials for visualization -->
  <xacro:include filename="$(find tor_description)/urdf/materials.urdf.xacro" />
  
  
  <xacro:include filename="$(find tor_description)/urdf/sensors/imu.urdf.xacro" />
  
    <!-- imu -->
  <xacro:tor_imu name="imu" parent="base_link" update_rate="100.0">
    <origin xyz="0.069 0 0.14647" rpy="3.14 0.0 1.57"/>
  </xacro:tor_imu>

</robot>
