<?xml version="1.0"?>
<!--
  Copyright (c) 2021, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="arm_1_joint_x_offset"     value="0.1353990315" />
  <xacro:property name="arm_1_joint_y_offset"     value="-0.2965325421" />
  <xacro:property name="arm_1_joint_z_offset"     value="-0.3363650443" />
  <xacro:property name="arm_1_joint_roll_offset"  value="0.2623821096" />
  <xacro:property name="arm_1_joint_pitch_offset" value="0.0691784658" />
  <xacro:property name="arm_1_joint_yaw_offset"   value="-0.2122395757" />

  <xacro:property name="arm_2_joint_x_offset"     value="0.8806888554" />
  <xacro:property name="arm_2_joint_y_offset"     value="0.1973532248" />
  <xacro:property name="arm_2_joint_z_offset"     value="0.9040877800" />
  <xacro:property name="arm_2_joint_roll_offset"  value="2.8447080467" />
  <xacro:property name="arm_2_joint_pitch_offset" value="2.7807148824" />
  <xacro:property name="arm_2_joint_yaw_offset"   value="0.5680692204" />

  <xacro:property name="arm_3_joint_x_offset"     value="-0.7954767015" />
  <xacro:property name="arm_3_joint_y_offset"     value="-0.6478546516" />
  <xacro:property name="arm_3_joint_z_offset"     value="0.5242987417" />
  <xacro:property name="arm_3_joint_roll_offset"  value="-0.4311840971" />
  <xacro:property name="arm_3_joint_pitch_offset" value="-1.4691599228" />
  <xacro:property name="arm_3_joint_yaw_offset"   value="-2.3551078504" />

  <xacro:property name="arm_4_joint_x_offset"     value="-0.2269216288" />
  <xacro:property name="arm_4_joint_y_offset"     value="0.9153024503" />
  <xacro:property name="arm_4_joint_z_offset"     value="-0.6140844746" />
  <xacro:property name="arm_4_joint_roll_offset"  value="2.9618295198" />
  <xacro:property name="arm_4_joint_pitch_offset" value="2.9102188452" />
  <xacro:property name="arm_4_joint_yaw_offset"   value="2.5547728801" />

  <xacro:property name="arm_5_joint_x_offset"     value="-0.2887954131" />
  <xacro:property name="arm_5_joint_y_offset"     value="0.6991426426" />
  <xacro:property name="arm_5_joint_z_offset"     value="-0.3613721125" />
  <xacro:property name="arm_5_joint_roll_offset"  value="-1.4943981708" />
  <xacro:property name="arm_5_joint_pitch_offset" value="-1.8312793779" />
  <xacro:property name="arm_5_joint_yaw_offset"   value="-0.0304387156" />

  <xacro:property name="arm_6_joint_x_offset"     value="-0.1774488698" />
  <xacro:property name="arm_6_joint_y_offset"     value="-0.7669108458" />
  <xacro:property name="arm_6_joint_z_offset"     value="-0.5807218084" />
  <xacro:property name="arm_6_joint_roll_offset"  value="1.4109212096" />
  <xacro:property name="arm_6_joint_pitch_offset" value="1.0987339808" />
  <xacro:property name="arm_6_joint_yaw_offset"   value="-0.1777678232" />

  <xacro:property name="arm_7_joint_x_offset"     value="-0.3472730244" />
  <xacro:property name="arm_7_joint_y_offset"     value="-0.4585956924" />
  <xacro:property name="arm_7_joint_z_offset"     value="0.1394977146" />
  <xacro:property name="arm_7_joint_roll_offset"  value="-0.3269256369" />
  <xacro:property name="arm_7_joint_pitch_offset" value="3.1117893550" />
  <xacro:property name="arm_7_joint_yaw_offset"   value="-1.8919223208" />


</robot>

