<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="local_joint_control_type" />
  <arg name="local_joint_control_pkg" default="pal_local_joint_control" />
  <arg name="ns" default=""/>
  <arg name="controller_pkg_name" default="talos_controller_configuration"/>
  <arg name="robot" default="full_v2" />
  <arg name="open_loop" default="false" />

  <group if="$(eval arg('robot') == 'full_v2')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/arm_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/wrist_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/arm_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/wrist_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/gripper_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/gripper_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/head.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/torso.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'grippers')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/gripper_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/gripper_right.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'full_no_grippers')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/arm_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/wrist_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/arm_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/wrist_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/head.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/torso.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'arm_right')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/arm_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/wrist_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/gripper_right.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'upper_arm_right')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/arm_right.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'wrist_right')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/wrist_right.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'upper_arm_left')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/arm_left.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'wrist_left')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/wrist_left.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'gripper_right')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/gripper_right.launch" pass_all_args="true" />
  </group>


  <group if="$(eval arg('robot') == 'lower_body_torso')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/torso.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'lower_body_torso_head')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/torso.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/head.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'lower_body')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_right.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'head')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/head.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'torso')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/torso.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'torso_leg_right')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/torso.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'torso_leg_left')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/leg_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/torso.launch" pass_all_args="true" />
  </group>

  <group if="$(eval arg('robot') == 'upper_body')" >
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/arm_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/wrist_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/arm_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/wirst_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/gripper_left.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/gripper_right.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/head.launch" pass_all_args="true" />
    <include file="$(find talos_controller_configuration)/launch/local_joint_control/torso.launch" pass_all_args="true" />
  </group>

</launch>
