<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="local_joint_control_type" />
  <arg name="local_joint_control_pkg" />
  <arg name="ns" default=""/>
  <arg name="controller_pkg_name" default="talos_controller_configuration"/>
  <arg name="robot" default=""/>
  <arg name="open_loop" default="false" />

  <include file="$(eval find(arg('local_joint_control_pkg')) + '/launch/' + arg('local_joint_control_type') + '.launch')" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="leg_left_1_joint"/>
  </include>

  <include file="$(eval find(arg('local_joint_control_pkg')) + '/launch/' + arg('local_joint_control_type') + '.launch')" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="leg_left_2_joint"/>
  </include>

  <include file="$(eval find(arg('local_joint_control_pkg')) + '/launch/' + arg('local_joint_control_type') + '.launch')" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="leg_left_3_joint"/>
  </include>

  <include file="$(eval find(arg('local_joint_control_pkg')) + '/launch/' + arg('local_joint_control_type') + '.launch')" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="leg_left_4_joint"/>
  </include>

  <include file="$(eval find(arg('local_joint_control_pkg')) + '/launch/' + arg('local_joint_control_type') + '.launch')" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="leg_left_5_joint"/>
  </include>

  <include file="$(eval find(arg('local_joint_control_pkg')) + '/launch/' + arg('local_joint_control_type') + '.launch')" >
    <arg name="controller_pkg_name" value="$(arg controller_pkg_name)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_name" value="leg_left_6_joint"/>
  </include>

</launch>
