<launch>

  <arg name="robot" default="full_v2"/> <!--full_v1, full_v2, lower_body-->
  <arg name="foot_collision" default="default"/>
  <arg name="default_configuration_type" default="zeros"/>

  <!-- Hardware configuration -->
  <rosparam command="load" file="$(find talos_bringup)/config/talos_common_hardware.yaml" />
  <include file="$(find talos_controller_configuration)/launch/selective_rosparam_loader.launch">
    <arg name="robot" value="$(arg robot)" />
    <arg name="prefix" value="$(find talos_bringup)/config/hardware/" />
  </include>

  <include file="$(find talos_description)/robots/upload.launch" >
    <arg name="robot" value="$(arg robot)"/>
    <arg name="foot_collision" default="$(arg foot_collision)"/>
    <arg name="default_configuration_type" default="$(arg default_configuration_type)"/>
  </include>

  <include file="$(find talos_bringup)/launch/talos_bringup.launch" />

  <!-- Hardware specific bringup -->
  <include file="$(find talos_controller_configuration)/launch/bringup_controllers_hardware.launch" />

</launch>
