<launch>

  <!-- Hardware configuration -->
  <rosparam command="load" file="$(find talos_bringup)/config/talos_full_hardware.yaml" />
  
  <include file="$(find talos_bringup)/launch/talos_bringup.launch" />

  <!-- Hardware specific bringup -->
  <include file="$(find talos_controller_configuration)/launch/bringup_controllers_hardware.launch" />
  
</launch>

