<launch>
  <arg name="robot" default="full"/>

  <!-- Hardware configuration -->
  <rosparam command="load" file="$(find talos_bringup)/config/talos_$(arg robot)_hardware.yaml" />
  
  <!-- Load default controllers -->
  <include file="$(find talos_controller_configuration)/launch/bringup_controllers.launch" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
  
  <!-- Robot model -->
  <include file="$(find talos_description)/robots/upload_talos.launch" >
     <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- Twist mux -->
  <include file="$(find talos_bringup)/launch/twist_mux.launch" />

  <!-- Joystick controller -->
  <include file="$(find talos_bringup)/launch/joystick_teleop.launch" />
  
  <include file="$(find talos_moveit_config)/launch/move_group.launch" />
  
</launch>
