<launch>
  <arg name="robot" default="full_ft_hey5"/>

  <!-- Load default controllers -->
  <include file="$(find tor_controller_configuration)/launch/tor_default_controllers.launch" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

</launch>
