<?xml version="1.0"?>
<!--

  Copyright (c) 2016, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="talos_head_differential_transmission"
               params="name number1 number2 act_reduction1 act_reduction2 jnt_reduction1 jnt_reduction2 offset_value_1 offset_value_2" >
    <transmission name="talos_trans">
      <plugin>pal_transmissions/HalfDifferentialTransmission</plugin>
      <actuator name="${name}_${number1}_actuator" role="actuator1">
        <mechanical_reduction>${act_reduction1}</mechanical_reduction>
      </actuator>
      <actuator name="${name}_${number2}_actuator" role="actuator2">
        <mechanical_reduction>${act_reduction2}</mechanical_reduction>
      </actuator>
      <joint name="${name}_${number1}_joint" role="joint1">
        <offset>${offset_value_1}</offset>
        <mechanical_reduction>${jnt_reduction1}</mechanical_reduction>
      </joint>
      <joint name="${name}_${number2}_joint" role="joint2">
        <offset>${offset_value_2}</offset>
        <mechanical_reduction>${jnt_reduction2}</mechanical_reduction>
      </joint>
    </transmission>
  </xacro:macro>


</robot>
