<?xml version="1.0"?>
<!--

  Copyright (c) 2016, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="talos_wrist_simple_transmission" params="name side number reduction offset_value" >
    <transmission name="${name}_${side}_${number}_trans">
      <plugin>transmission_interface/SimpleTransmission</plugin>
      <actuator name="${name}_${side}_${number}_actuator" role="actuator1"/>
      <joint name="${name}_${side}_${number}_joint" role="joint1">
        <offset>${offset_value}</offset>
        <mechanical_reduction>${reduction}</mechanical_reduction>
      </joint>
    </transmission>
  </xacro:macro>

  <xacro:macro name="talos_wrist_differential_transmission"
               params="name side number_1 number_2 act_reduction_1 act_reduction_2 jnt_reduction_1 jnt_reduction_2 offset_value_1 offset_value_2" >
    <transmission name="wrist_${side}_trans">
      <plugin>transmission_interface/DifferentialTransmission</plugin>
      <actuator name="${name}_${side}_${number_1}_actuator" role="actuator1">
        <mechanical_reduction>${act_reduction_1}</mechanical_reduction>
      </actuator>
      <actuator name="${name}_${side}_${number_2}_actuator"  role="actuator2">
        <mechanical_reduction>${act_reduction_2}</mechanical_reduction>
      </actuator>
      <joint name="${name}_${side}_${number_1}_joint" role="joint1">
        <offset>${offset_value_1}</offset>
        <mechanical_reduction>${jnt_reduction_1}</mechanical_reduction>
      </joint>
      <joint name="${name}_${side}_${number_2}_joint" role="joint2">
        <offset>${offset_value_2}</offset>
        <mechanical_reduction>${jnt_reduction_2}</mechanical_reduction>
      </joint>
    </transmission>
  </xacro:macro>

</robot>

