<?xml version="1.0"?>
<!--

  Copyright (c) 2016, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- MACROS FOR MIMIC JOINTS -->
  <xacro:macro name="finger_mimics" params="name">
    <plugin name="mimic_${name}_inner_double_joint" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
      <joint>${name}_joint</joint>
      <mimicJoint>${name}_inner_double_joint</mimicJoint>
      <multiplier>1.0</multiplier>
      <offset>0.0</offset>
      <hasPID/>
    </plugin>
    <plugin name="mimic_${name}_fingertip_1_joint" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
      <joint>${name}_joint</joint>
      <mimicJoint>${name}_fingertip_1_joint</mimicJoint>
      <multiplier>-1.0</multiplier>
      <offset>0.0</offset>
      <hasPID/>
    </plugin>
    <plugin name="mimic_${name}_fingertip_2_joint" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
      <joint>${name}_joint</joint>
      <mimicJoint>${name}_fingertip_2_joint</mimicJoint>
      <multiplier>-1.0</multiplier>
      <offset>0.0</offset>
      <hasPID/>
    </plugin>
    <plugin name="mimic_${name}_motor_single_joint" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
      <joint>${name}_joint</joint>
      <mimicJoint>${name}_motor_single_joint</mimicJoint>
      <multiplier>1.0</multiplier>
      <offset>0.0</offset>
      <hasPID/>
    </plugin>
    <plugin name="mimic_${name}_fingertip_3_joint" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
      <joint>${name}_joint</joint>
      <mimicJoint>${name}_fingertip_3_joint</mimicJoint>
      <multiplier>-1.0</multiplier>
      <offset>0.0</offset>
      <hasPID/>
    </plugin>
  </xacro:macro>

</robot>