<?xml version="1.0"?>
<!--
  Copyright (c) 2023 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ros2_control_gripper" params="name" >

    <xacro:macro name="ros2_control_talos_gripper_mimic_joint" params="mimic_joint_name actuated_joint_name multiplier" >
      <joint name="${mimic_joint_name}">
        <param name="mimic">${actuated_joint_name}</param>
        <param name="multiplier">${multiplier}</param>
      </joint>
    </xacro:macro>

    <joint name="${name}_joint">
      <command_interface name="position" />
      <state_interface name="position"/>
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>

    <xacro:ros2_control_talos_gripper_mimic_joint mimic_joint_name="${name}_inner_double_joint"
                                                    actuated_joint_name="${name}_joint"
                                                    multiplier="1"/>

    <xacro:ros2_control_talos_gripper_mimic_joint mimic_joint_name="${name}_fingertip_1_joint"
                                                    actuated_joint_name="${name}_joint"
                                                    multiplier="1"/>

    <xacro:ros2_control_talos_gripper_mimic_joint mimic_joint_name="${name}_fingertip_2_joint"
                                                    actuated_joint_name="${name}_joint"
                                                    multiplier="1"/>


    <xacro:ros2_control_talos_gripper_mimic_joint mimic_joint_name="${name}_motor_single_joint"
                                                    actuated_joint_name="${name}_joint"
                                                    multiplier="-1"/>


    <xacro:ros2_control_talos_gripper_mimic_joint mimic_joint_name="${name}_inner_single_joint"
                                                    actuated_joint_name="${name}_joint"
                                                    multiplier="-1"/>


    <xacro:ros2_control_talos_gripper_mimic_joint mimic_joint_name="${name}_fingertip_3_joint"
                                                    actuated_joint_name="${name}_joint"
                                                    multiplier="-1"/> 
   <!-- transmissions -->
  <xacro:include filename="$(find talos_description)/urdf/gripper/gripper.transmission.xacro" />
  <xacro:gripper_transmission name="${name}" reduction="1.0" />

  </xacro:macro>
</robot>
