<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--File includes-->
  <!-- <xacro:include filename="$(find talos_description)/urdf/deg_to_rad.urdf.xacro" />
  <xacro:include filename="$(find talos_description)/urdf/gripper.transmission.xacro" />
  <xacro:include filename="$(find talos_description)/urdf/gripper.gazebo.xacro" /> -->


  <xacro:macro name="talos_gripper" params="name parent">

  <link name="${name}_base_link">
    <inertial>
      <origin xyz="0.01507 -0.01177 -0.02788" rpy="0.00000 0.00000 0.00000"/>
      <mass value="0.66262"/>
      <inertia ixx="0.00195600000" ixy="-0.00007300000" ixz="0.00026500000"
               iyy="0.00139500000" iyz="-0.00015700000"
               izz="0.00170400000"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://talos_description/meshes/gripper/base_link.STL"/>
      </geometry>
      <material name="DarkGrey"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://talos_description/meshes/gripper/base_link_collision.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="${name}_base_joint" type="fixed">
    <parent link="${parent}" />
    <child link="${name}_base_link" />
    <axis xyz="0 0 0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="${name}_link">
    <inertial>
      <origin xyz="0.01507 -0.01177 -0.02788" rpy="0.00000 0.00000 0.00000"/>
      <mass value="0.3"/>
      <inertia ixx="0.00195600000" ixy="-0.00007300000" ixz="0.00026500000"
               iyy="0.00139500000" iyz="-0.00015700000"
               izz="0.00170400000"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://talos_description/meshes/gripper/gripper_simple.STL"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://talos_description/meshes/gripper/gripper_simple_collision.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="${name}_joint" type="fixed">
    <parent link="${name}_base_link" />
    <child link="${name}_link" />
    <axis xyz="0 0 0" />
    <origin xyz="0 0.02025 -0.02875" rpy="0 0 0" />
  </joint>


 </xacro:macro>

</robot>
