<launch>

  <!-- Joint torque sensor absolute encoders controller -->
  <rosparam command="load" file="$(find joint_torque_sensor_state_controller)/joint_torque_sensor_state_controller.yaml" />
  
  <!-- Temperature sensor controller -->
  <rosparam command="load" file="$(find temperature_sensor_controller)/temperature_sensor_controller.yaml" />
  
  <!-- Mode state controller -->
  <rosparam command="load" file="$(find mode_state_controller)/mode_state_controller.yaml" />

  <!-- Controllers that come up started -->
  <node name="bringup_controllers_hardware_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="joint_torque_sensor_state_controller
              temperature_sensor_controller
              mode_state_controller" />

  <include file="$(find talos_controller_configuration)/launch/current_limit_controllers.launch" />

</launch>
