<launch>
  <!--
    If true, shutdown timeout for spawner is set to 1.0 due to this issue:
      https://github.com/ros-controls/ros_control/issues/195
  -->
  <arg name="enable_unloading_workaround" default="false" />


  <!-- Joint state controller -->
  <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />

  <!-- Force-torque sensors controller -->
  <rosparam command="load" file="$(find force_torque_sensor_controller)/force_torque_sensor_controller.yaml" />

  <!-- IMU sensors controller -->
  <rosparam command="load" file="$(find imu_sensor_controller)/imu_sensor_controller.yaml" />


  <arg if="$(arg enable_unloading_workaround)"
      name="extra_args"
      value="--shutdown-timeout 1.0" />
  <arg unless="$(arg enable_unloading_workaround)"
      name="extra_args"
      value="" />


  <!-- Controllers that come up started -->
  <node name="bringup_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="$(arg extra_args)
              force_torque_sensor_controller
              imu_sensor_controller
              joint_state_controller" />
</launch>
