<launch>

  <include file="$(find talos_controller_configuration)/launch/walking_controller.launch" />

  <include file="$(find talos_controller_configuration)/launch/position_controllers.launch">
    <arg name="robot" value="upper_body" />
  </include>

  <include file="$(find talos_controller_configuration)/launch/walk_pose.launch" />

</launch>
