<launch deprecated="Use 'position_controllers.launch' instead.">
  <arg name="robot" default="full_v2" />
  <arg name="controllers" default="" />

  <include file="$(find talos_controller_configuration)/launch/position_controllers.launch">
    <arg name="robot" value="$(arg robot)" />
    <arg name="controllers" value="$(arg controllers)" />
  </include>
</launch>
