<launch>

  <!-- init offset controller configuration -->
  <rosparam command="load" file="$(find talos_controller_configuration)/config/init_offset_controller.yaml" />

  <!-- Spawn init offset controller -->
  <node name="init_offset_controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="init_offset_controller" />

</launch>

