<launch>

  <rosparam command="load" file="$(find talos_controller_configuration)/config/joint_trajectory_controllers.yaml" />

  <!-- Spawn legs joint trajectory controllers -->
  <node name="lower_body_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="left_leg_controller
              right_leg_controller" />

</launch>
