<launch>
  <arg name="prefix" />
  <arg name="suffix" value=".yaml" />
  <arg name="robot" default="full_v2" />

  <group if="$(eval arg('robot') == 'full_v1' or arg('robot') == 'full_v2')" >
    <rosparam command="load" file="$(arg prefix)arm_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)arm_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)gripper_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)gripper_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)head$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)torso$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'full_no_grippers')" >
    <rosparam command="load" file="$(arg prefix)arm_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)arm_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)head$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)torso$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'arm_right')" >
    <rosparam command="load" file="$(arg prefix)arm_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)gripper_right$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'lower_body_torso_head')" >
    <rosparam command="load" file="$(arg prefix)leg_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)torso$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)head$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'head')" >
    <rosparam command="load" file="$(arg prefix)head$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'torso_leg_right')" >
    <rosparam command="load" file="$(arg prefix)leg_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)torso$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'torso_leg_left')" >
    <rosparam command="load" file="$(arg prefix)leg_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)torso$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'upper_body')" >
    <rosparam command="load" file="$(arg prefix)arm_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)arm_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)gripper_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)gripper_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)head$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)torso$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'upper_body_leg_left')" >
    <rosparam command="load" file="$(arg prefix)arm_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)arm_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)gripper_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)gripper_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)head$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)torso$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_left$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'upper_body_leg_right')" >
    <rosparam command="load" file="$(arg prefix)arm_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)arm_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)gripper_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)gripper_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)head$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)torso$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_right$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'lower_body_head_arms')" >
    <rosparam command="load" file="$(arg prefix)arm_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)arm_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)gripper_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)gripper_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)head$(arg suffix)" />
  </group>

  <group if="$(eval arg('robot') == 'lower_body_head')" >
    <rosparam command="load" file="$(arg prefix)leg_left$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)leg_right$(arg suffix)" />
    <rosparam command="load" file="$(arg prefix)head$(arg suffix)" />
  </group>

</launch>
