<launch>

  <!-- Walking controller configuration -->
  <rosparam command="load" file="$(find talos_controller_configuration)/config/walking_params.yaml" ns="walking_controller" />
  <rosparam command="load" file="$(find talos_controller_configuration)/config/walking_controller.yaml" />

  <!-- specifics configuration -->
  <arg name="specific_file_path" value="$(eval optenv('talos_controller_configuration_specifics_path', find('talos_controller_configuration')))"/>
  <rosparam command="load" file="$(arg specific_file_path)/config/walking_specific_params.yaml" />
  <rosparam command="load" file="$(arg specific_file_path)/config/walking_specific_offsets.yaml" ns="walking_controller/offsets" />
  
  <!-- Spawn walking controller -->
  <node name="walking_controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="walking_controller" />

</launch>

