<launch>

  <!-- Walking controller configuration -->
  <rosparam command="load" file="$(find talos_controller_configuration)/config/walking_params.yaml" ns="walking_controller" />
  <rosparam command="load" file="$(find talos_controller_configuration)/config/walking_controller.yaml" />
  <rosparam command="load" file="$(find talos_controller_configuration)/config/offsets.yaml" ns="walking_controller/offsets" />
  
  <!-- Spawn walking controller -->
  <node name="walking_controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="walking_controller" />

</launch>

