<?xml version="1.0"?>
<!--

  Copyright (c) 2013, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<!-- XML namespaces -->
<robot name="reemc" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="prosilicaGC655C_camera" params="name parent *origin">

    <joint name="${name}_frame_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <link name="${name}_link">
      <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0" />
        <inertia ixx="0"  ixy="0.0"  ixz="0.0"
                 iyy="0"  iyz="0.0"
                 izz="0" />
      </inertial>
      <visual>
        <origin xyz="-0.01 0 0" rpy="0 ${deg_to_rad * 90} 0" />
        <geometry>
          <cylinder radius="0.01" length="0.018" />
        </geometry>
        <material name="Blue"/>
      </visual>
    </link>

  </xacro:macro>

</robot>
