<?xml version="1.0"?>
<!--

  Copyright (c) 2014, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot name="reemc" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find reemc_description)/urdf/sensors/prosilica_stereo_camera.gazebo.xacro" />
  <xacro:include filename="$(find reemc_description)/urdf/sensors/prosilicaGC655C_camera.urdf.xacro" />

  <property name="stereo_dx" value="0.00" />
  <property name="stereo_dy" value="-0.073" /> <!-- stereo baseline according to base_link which has X pointing forward, Y leftwards and Z upwards (required by Gazebo for a camera sensor) --> 
  <property name="stereo_dz" value="0.00" />   
  <property name="stereo_rx" value="0.00" />
  <property name="stereo_ry" value="0.00" />
  <property name="stereo_rz" value="0.00" />

  <!-- this macro is used for creating wide and narrow double stereo camera links -->
  <xacro:macro name="reemc_stereo_camera" params="name parent focal_length hfov image_format image_width image_height *origin">

    <joint name="${name}_frame_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>
    <!-- camera link is at center of the optical frame, but in x-forward, z-upwards and y-leftwards notation (required by gazebo to simulate a camera) -->
    <link name="${name}_link">      
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0"  ixy="0"  ixz="0" 
                 iyy="0"  iyz="0"  
                 izz="0" /> <!-- this inertia is made up for now. -->
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.001 0.001 0.001" />
        </geometry>
        <material name="Blue"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.001 0.001 0.001" />
        </geometry>
      </collision>
      
    </link>

    <!-- attach optical frame to the camera link -->
    <joint name="${name}_optical_frame_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" /> <!-- rotate frame from x-forward to z-forward camera coords -->      
      <parent link="${name}_link"/>
      <child link="${name}_optical_frame"/>
    </joint>
    <!-- optical frame for the stereo camera, with z-forward notation, this is the frame stereo camera images users should refer to -->
    <link name="${name}_optical_frame" type="camera">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0"  ixy="0"  ixz="0" 
                 iyy="0"  iyz="0"  
                 izz="0" /> <!-- this inertia is made up for now. -->
      </inertial>
    </link>

    <!-- stereo left camera -->
    <xacro:prosilicaGC655C_camera name="${name}_gazebo_left_camera" parent="${name}_link">
      <origin xyz="0 0 0" rpy="0.0 0.0 0.0" />
    </xacro:prosilicaGC655C_camera>

    <!-- stereo right camera -->
    <xacro:prosilicaGC655C_camera name="${name}_gazebo_right_camera" parent="${name}_link">
      <origin xyz="${stereo_dx} ${stereo_dy} ${stereo_dz}" rpy="${stereo_rx} ${stereo_ry} ${stereo_rz}" />
    </xacro:prosilicaGC655C_camera>


    <!-- Stereo camera Gazebo simulation -->
    <xacro:prosilica_stereo_camera_gazebo name="${name}" image_format="${image_format}" 
                                   hfov="${hfov}" focal_length="${focal_length}"                                   
                                   frame_id="${name}_optical_frame" hack_baseline="${-stereo_dy}"
                                   image_width="${image_width}" image_height="${image_height}"/>


  </xacro:macro>
</robot>
