<?xml version="1.0"?>
<!--

  Copyright (c) 2016, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot name="talos" xmlns:xacro="http://ros.org/wiki/xacro"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:include filename="$(find talos_description)/urdf/head/head.urdf.xacro" />

 <link name="talos_2_link">
    <inertial>
      <origin xyz="-0.04551 -0.00053 0.16386" rpy="0.00000 0.00000 0.00000"/>
      <mass value="17.55011"/>
      <inertia ixx="0.37376900000" ixy="0.00063900000" ixz="0.01219600000"
               iyy="0.24790200000" iyz="0.00000700000"
               izz="0.28140400000"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://talos_description/meshes/talos/talos_2.STL" scale="1 1 1"/>
      </geometry>
      <material name="LightGrey" />
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://talos_description/meshes/talos/talos_2_collision.STL" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <xacro:talos_head name="head" parent="talos_2_link"/>

  <!-- Generic simulatalos_gazebo plugins -->
  <xacro:include filename="$(find talos_description)/gazebo/gazebo.urdf.xacro" />
  <!-- Materials for visualization -->
  <xacro:include filename="$(find talos_description)/urdf/materials.urdf.xacro" />

</robot>
